*{
	margin: 0;
	padding: 0;
	background-color: #899089;
}
	.hider{
		overflow: hidden;
		width: 640px;
		margin: 69px 0px 0px 300px;
	}
		.carusel-list{
			list-style: none;
			width: 10000px;
			position: relative;
		}
			.carusel-element{
				text-decoration: none;
				float: left;
				margin-right: 20px;
			}
				.carusel-element img{
					max-width: 200px;
					border: 1px solid black;
				}
					.carusel-list p{
						text-align: center;
						font-family: Tahoma;
						font-size: 20px;
					}
	span{
		float: left;
    	display: block;
    	border: 1px solid grey;
    	background-color:  #79FF77;;
    	padding: 5px;
    	margin-top: 50px;
    	cursor: pointer;
    	border-radius: 10px;
	}
	span:hover{
		background-color: #26D024;
	}
		.left{
			margin: -152px 0px 0px 195px;
		}
		.right{
			margin: -152px 0px 0px 995px;
		}
		